<a href="https://colab.research.google.com/github/wanwanliang/ML_Projects/blob/main/notebook/Feature_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import os
import sklearn
import pandas as pd
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
from google.colab import drive

In [5]:
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
os.chdir('/content/drive/My Drive/ML/projects/feature_selection')

## Data Exploring

In [7]:
dt = pd.read_csv('train.csv')
dt.shape

(114321, 133)

In [25]:
dt.head()

   ID  target        v1        v2  ...      v128  v129      v130      v131
0   3       1  1.335739  8.727474  ...  2.024285     0  0.636365  2.857144
1   4       1       NaN       NaN  ...  1.957825     0       NaN       NaN
2   5       1  0.943877  5.310079  ...  1.120468     2  0.883118  1.176472
3   6       1  0.797415  8.304757  ...  1.990847     1  1.677108  1.034483
4   8       1       NaN       NaN  ...       NaN     0       NaN       NaN

[5 rows x 133 columns]

In [ ]:
var_type = []
[var_type.append(type(dt.iloc[0,i])) for i in range(len(dt.columns))]

In [24]:
import collections
collections.Counter(var_type)

Counter({float: 1, numpy.float64: 108, numpy.int64: 6, str: 18})

### Keep numerical columns

In [28]:
dt2 = dt.select_dtypes('number')
dt2.shape

(114321, 114)

In [31]:
dt2.isnull().sum(axis=0)

ID            0
target        0
v1        49832
v2        49796
v4        49796
          ...
v127      49832
v128      48624
v129          0
v130      49843
v131      49895
Length: 114, dtype: int64

### Remove observations with null values

In [33]:
dt3 = dt2[dt2.isnull().sum(axis=1)==0]
dt3.shape

(62561, 114)

In [34]:
collections.Counter(dt3.isnull().sum(axis=0))

Counter({0: 114})

## Model training and feature selection

### Spliting data into train and validation

In [35]:
from sklearn.model_selection import train_test_split

train_x, valid_x, train_y, valid_y = train_test_split(
    dt3.drop(labels=['target', 'ID'], axis=1),
    dt3['target'],
    test_size=0.3,
    random_state=6
)

In [36]:
train_x.shape, valid_x.shape

((43792, 112), (18769, 112))

### Data scaling

In [37]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(train_x)
train_x2, valid_x2 = scaler.transform(train_x), scaler.transform(valid_x)

### Using Lasso regression and select features

In [38]:
from sklearn.linear_model import Lasso